@import url('https://fonts.googleapis.com/css?family=Martel:300&display=swap');
body {
  background-attachment: fixed;
  background-image: url("Imágenes/cardboard-546867_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Martel', serif;
  font-size: 75%;
  margin: 0px;
  text-align: center;
}

#header {
  background-attachment: fixed;
  background-image: url("Imágenes/cardboard-1374280_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25vh;
}

#navbar {
  background-color: #000000;
  display: block;
}

#navbar .navbarlink {
  color: #FFFFFF;
  padding: 0% 5% 0% 5%;
  text-decoration: none;
}

#dropdown {
  color: #FFFFFF;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0% 5% 0% 5%;
  text-align: center;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 1vw;
  box-shadow: 0px 1vh 1vw 0px rgba(0,0,0,0.2);
  padding: 1vw 1vw;
  z-index: 1;
}

.dropdowncontent a {
    color: #000000;
    text-decoration: none;
}

.dropdown:hover .dropdowncontent {
  display: block;
}
